.partfolio-list-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
    display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 56px;
}

.one-button:hover,
.one-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.one-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-left: 8px;
}

.title-image {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
}


.text-acent {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-acent-color);

}

.partfolio-list-image-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.partfolio-cont :not(:last-child){
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
/*:not(:last-child) */

.text-acent.adress.to{
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-acent-color);
}