



/*hero*/
.hero-title {
  color: #ffffff;
}
.button {
  color: #ffffff;
  background-color:var(--acent-text-color) ;
}
/*opportunities*/
.opportunities-p{
  color: #757575;
}
/*occupation*/


/*command*/
.position{
  color: #757575;
}
